HELP.md
target/
user/target
registery/target
edge/target
!.mvn/wrapper/maven-wrapper.jar
!user/.mvn/wrapper/maven-wrapper.jar
!registery/.mvn/wrapper/maven-wrapper.jar
!edge/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!user/**/src/main/**
!registery/**/src/main/**
!edge/**/src/main/**
!**/src/test/**
!user/**/src/test/**
!registery/**/src/test/**
!edge/**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
user/.idea
registery/.idea
edge/.idea
*.iws
user/*.iws
registery/*.iws
edge/*.iws
*.iml
user/*.iml
registery/*.iml
edge/*.iml
*.ipr
user/*.ipr
registery/*.ipr
edge/*.ipr

### NetBeans ###
/nbproject/private/
user/nbproject/private/
edge/nbproject/private/
registery/nbproject/private/
/nbbuild/
user/nbbuild/
edge/nbbuild/
registery/nbbuild/
/dist/
user/dist/
registery/dist/
edge/dist/
/nbdist/
user/nbdist/
registery/nbdist/
edge/nbdist/
/.nb-gradle/
user/.nb-gradle/
registery/.nb-gradle/
edge/.nb-gradle/
build/
user/build/
edge/build/
registery/build/

### VS Code ###
.vscode/
